* {
  font-family:Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  background-repeat: no-repeat;
  background-position:center; 
  background-size: cover;
  background-color: #ffe3b9;
  color: #f1935c
}

main {
  text-align: center;
  justify-content: center;
  flex: 1 0 auto;
  margin-left:200px;
  margin-right:200px;
}
footer {
  text-align: center;
}

.quiz_page {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
/*hide the bullet points from listings*/
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
  padding-left: 50px;
 }

li {
  margin-bottom: 10px;
}

/*display only the intro page and hide the rest sections*/
.quiz_page, .submit_page, .highscore_page, #check_line {
  display:none;
}

.button{
  background: #f68686;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button:hover{

  background-color:#92cce1;

}


